
// Imports
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css");

.dash-content-container {
  padding-top:10px;

  .dash-content-jumbo {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-image: url("/images/textures/church.png");
  }

  .dash-nav-2 {
    margin-bottom: 10px;
  }

}

.home-panel-icon-divider {
  margin-top: 5px;
  margin-bottom: 5px;
}

.home-panel-icons {
  .card-text {
    font-size: 2em;
    padding-top: .6em;
    padding-bottom: .6em;

    a {
      color: #90a4ae!important;

      &:hover {
        color: #01579b!important;
      }
    }
  }
}